# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

*.db
*.pdf
*.pem

.vscode/

# Virtual environment (if using venv instead of conda)
venv/

# Environment variables
.env

# Logs and database
logs/
data/
models/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore all faiss_index folders
**/faiss_index/

venv*/